{% extends 'core/base.html' %}
{% load static %}

{% block title %} Editar Cliente {% endblock %}

{% block content %}

<h1 class="px-6 text-2xl font-bold">Editar Cliente - {{ client.first_name }} {{ client.second_name|default:'' }} {{ client.last_name }} {{ client.sur_name|default:'' }}</h1>
<h2 class="px-6 text-lg font-bold">Número de CI: {{ client.id_number }}</h2>    
<div class = 'py-6 px-6'>
    <form method="POST" action=".">
        {% csrf_token %}

        {{ form.as_p }}

        <div class="h-full flex-box space-x-4 items-stretch">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded items-center justify-center">Guardar cambios</button>
            <a href="{% url 'clients' %}" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded items-center justify-center">Regresar</a>
        </div>
    </form>
</div>
{% endblock %}

<script src="{% static 'js/client_form.js' %}"></script>