<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <script src="http://cdn.tailwindcss.com"></script>
        <title>GEODESTINOSEC - {% block title %}{% endblock %}</title>
    </head>
    <body>
        <nav class="py-4 px-6 bg-teal-500">
            <div class="flex justify-between items-center">
                <a href="{% url 'index' %}" class="text-white">GEODESTINOSEC</a>
                <div>
                    {% if not request.user.is_authenticated %}
                        <a href="{% url 'login' %}" class="py-4 px-6 bg-teal-600 rounded-xl text-white">Login</a>
                    {% else %}
                        <a href="{% url 'logout' %}" class="py-4 px-6 bg-teal-600 rounded-xl text-white">Logout</a>
                    {% endif %}
                </div>
            </div>
        </nav>
    
        <div class="container py-10 px-15 bg-gray-50">
            {% block content %}
            {% endblock %}
        </div>
    </body>

    <footer class="py-8 text-center bg-gray-200">
        <span class="text-xs"> &copy; 2024 GEODESTINOSEC - </span>
        <span class="text-xs">Desarrollado con </span>
        <span class="text-xs text-red-500">❤</span>
        <span class="text-xs"> por <a href="https://www.linkedin.com/in/jean-camacho-126126212/" class="text-blue-800">Jean Camacho</a></span>
    </footer>

</html>
