{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="{% static 'core/js/htmx.min.js'%}" defer></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="http://cdn.tailwindcss.com"></script>
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        <title>GEODESTINOSEC - {% block title %}{% endblock %}</title>
    </head>
    <body>
        <nav class="py-4 px-6 bg-teal-500">
            <div class="flex justify-between items-center">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'dashboard' %}" class="text-white">GEODESTINOSEC</a>
                {%else%}
                    <a href="{% url 'index' %}" class="text-white">GEODESTINOSEC</a>
                {% endif %}
                <div>
                    {% if request.user.is_authenticated %}
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="py-4 px-6 bg-red-500 rounded-xl text-white hover:bg-red-600">Cerrar sesión</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </nav>
    
        <div class="bg-gray-50">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            {% block content %}

            {% endblock %}
        </div>
        {% block scripts %}

        {% endblock %}
    </body>

    <footer class="py-8 text-center bg-gray-200">
        <span class="text-xs"> &copy; 2024 GEODESTINOSEC - </span>
        <span class="text-xs">Desarrollado con </span>
        <span class="text-xs text-red-500">❤</span>
        <span class="text-xs"> por <a href="https://www.linkedin.com/in/jean-camacho-126126212/" class="text-blue-800">Jean Camacho</a></span>
    </footer>

    {% block stylesheets %}

    {% endblock %}

</html>
